# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Learning projects\OpenCv_object_detection_mobilenet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
